<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodie-Restaurant-Website</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="../Css/Constant.css">
        <link rel="stylesheet" href="../Css/Style.css">
        <link rel="stylesheet" href="../Css/tablet.css">
        <link rel="stylesheet" href="../Css/mobile.css">
    </head>
    <body>
        <section class="container_fluid">
            <section class="container">
                <header class="top_header d_flex">
                    <div class="logo"><h1>Foodie</h1></div>
                    <div class="menu_bar">
                        <ul class="list_items d_flex">
                            <li class="items"><a href="#">Home</a></li>
                            <li class="items"><a href="#">Recepies</a></li>
                            <li class="items"><a href="#">About Us</a></li>
                            <li class="items"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social_icons d_flex">
                        <div class="icons facebook"><i
                                class="fa-brands fa-facebook"></i></div>
                        <div class="icons twitter"><i
                                class="fa-brands fa-twitter"></i></div>
                        <div class="icons insta"><i
                                class="fa-brands fa-instagram"></i></div>
                    </div>
                </header>
                <section class="top_mg"></section>
                <main class="main">
                    <section class="main_content">
                        <div class="row d_flex">
                            <div class="col_1">
                                <div class="hot_recepi">
                                    <div class="hot_txt">Hot Recipes</div>
                                    <div class="hot_recepi_title">Spicy
                                        delicious
                                        chicken wings</div>
                                    <div class="hot_recepi_desp">Lorem ipsum
                                        dolor
                                        sit amet, consectetuipisicing elit, sed
                                        do
                                        eiusmod tempor incididunt ut labore et
                                        dolore magna aliqut enim ad minim </div>
                                    <div class="hot_recepi_rect d_flex">
                                        <div class="box d_flex">
                                            <div><img src="../images/Timer.png"
                                                    alt="Timer_image"></div>
                                            <div></div>30 Minutes</div>
                                        <div class="box d_flex">
                                            <div><img
                                                    src="../images/ForkKnife.png"
                                                    alt="chicken"></div>
                                            <div></div>Chicken</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col_2"></div>
                        </div>
                    </section>
                    <section class="top_mg">
                        <div class="categories d_flex">
                            <div class="cat_title">Categories</div>
                            <div class="cat_all">View All Categories</div>
                        </div>
                    </section>
                    <section class="cat_container">
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/Group 879.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Vegan</div>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/image 21.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Meat</div>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/image 22.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Dessert</div>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/image 23.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Lunch</div>
                            </div>
                        </div>
                        <!-- 5 -->
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/image 24.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Chocalate</div>
                            </div>
                        </div>
                        <!-- 6 -->
                        <div class="cat_card">
                            <div class="cat_card_wrapper">
                                <img src="../images/image 25.png" alt="image"
                                    class="img">
                            </div>
                            <div class="cat_card_body">
                                <div class="cat_card_title">Breakfast</div>
                            </div>
                        </div>
                    </section>
                    <section class="top_mg">
                        <div class="testy_recepi">
                            <div class="testy_recepi_title">Simple and tasty
                                recipes</div>
                            <div class="testy_recepi_desp">Lorem ipsum dolor sit
                                amet, consectetuipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna
                                aliqut enim ad minim </div>
                        </div>
                    </section>
                    <!-- recepi-cards -->
                    <section class="recipe_container">
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-1.png"
                                    alt="Burger_image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Big and Juicy Wagyu
                                    Beef Cheeseburger</div>
                                <div class="recipe_desp d_flex">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-2.png"
                                    alt="Salad_Image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Mixed Tropical Fruit
                                    Salad with Superfood Boosts </div>
                                <div class="recipe_desp d_flex algn_ctr">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-3.png"
                                    alt="Meatballs_image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Chicken Meatballs with
                                    Cream Cheese</div>
                                <div class="recipe_desp d_flex">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-4.png"
                                    alt="Salad_Image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Fresh and Healthy
                                    Mixed Mayonnaise Salad </div>
                                <div class="recipe_desp d_flex algn_ctr">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5 -->
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-5.png"
                                    alt="Salad_Image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Strawberry Oatmeal
                                    Pancake with Honey Syrup </div>
                                <div class="recipe_desp d_flex algn_ctr">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 6 -->
                        <div class="recipe_card">
                            <div class="recipe_card_wrapper">
                                <img src="../images/recepi-6.png"
                                    alt="Salad_Image" class="img">
                            </div>
                            <div class="recipe_card_body">
                                <div class="recipe_title">Cauliflower Walnut
                                    Vegetarian Taco Meat </div>
                                <div class="recipe_desp d_flex algn_ctr">
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/Timer.png"
                                                alt="Timer_image"></div>
                                        <div class="para">30&nbsp;Minutes</div>
                                    </div>
                                    <div class="box d_flex algn_ctr">
                                        <div class="img"><img
                                                src="../images/ForkKnife.png"
                                                alt="ForkKnife"></div>
                                        <div class="para">Chicken</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="top_mg"></section>
                    <section class="chef">
                        <div class="row d_flex">
                            <div class="col_1">
                                <div class="hide">
                                    <div class="chef_rec">
                                        <div class="chef_rec_title">Everyone can be a
                                            chef in their own kitchen
                                        </div>
                                        <div class="chef_rec_des">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </div>
                                        <div class="chef_rec_btn">View All</div>
                                    </div>
                                </div>
                                <div class="mb_row">
                                    <div class="mb_col_1">
                                        <div class="chef_rec">
                                            <div class="chef_rec_title">Everyone can be a
                                                chef in their own kitchen
                                            </div>
                                            <div class="chef_rec_btn">View All</div>
                                        </div>
                                    </div>
                                    <div class="mb_col_2">
                                        <img src="../images/bg-2.png" alt="" class="img" style="object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                            <div class="col_2">
                            </div>
                        </div>
                    </section>
                    <section class="top_mg">
                        <div class="top_text">You may like these recipe too</div>
                    </section>
                    <div class="delicious">
                        <div class="delicious_container d_flex">
                            <div class="recipe_card">
                                <div class="recipe_card_wrapper">
                                    <img src="../images/recepi-4.png"
                                        alt="Salad_Image" class="img">
                                </div>
                                <div class="recipe_card_body">
                                    <div class="recipe_title">Fresh and Healthy
                                        Mixed Mayonnaise Salad </div>
                                    <div class="recipe_desp d_flex algn_ctr">
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/Timer.png"
                                                    alt="Timer_image"></div>
                                            <div class="para">30&nbsp;Minutes</div>
                                        </div>
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/ForkKnife.png"
                                                    alt="ForkKnife"></div>
                                            <div class="para">Chicken</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="recipe_card">
                                <div class="recipe_card_wrapper">
                                    <img src="../images/recepi-5.png"
                                        alt="Salad_Image" class="img">
                                </div>
                                <div class="recipe_card_body">
                                    <div class="recipe_title">Strawberry Oatmeal
                                        Pancake with Honey Syrup </div>
                                    <div class="recipe_desp d_flex algn_ctr">
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/Timer.png"
                                                    alt="Timer_image"></div>
                                            <div class="para">30&nbsp;Minutes</div>
                                        </div>
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/ForkKnife.png"
                                                    alt="ForkKnife"></div>
                                            <div class="para">Chicken</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 3 -->
                            <div class="recipe_card">
                                <div class="recipe_card_wrapper">
                                    <img src="../images/recepi-3.png"
                                        alt="Meatballs_image" class="img">
                                </div>
                                <div class="recipe_card_body">
                                    <div class="recipe_title">Chicken Meatballs with
                                        Cream Cheese</div>
                                    <div class="recipe_desp d_flex">
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/Timer.png"
                                                    alt="Timer_image"></div>
                                            <div class="para">30&nbsp;Minutes</div>
                                        </div>
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/ForkKnife.png"
                                                    alt="ForkKnife"></div>
                                            <div class="para">Chicken</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4 -->
                            <div class="recipe_card">
                                <div class="recipe_card_wrapper">
                                    <img src="../images/recepi-2.png"
                                        alt="Salad_Image" class="img">
                                </div>
                                <div class="recipe_card_body">
                                    <div class="recipe_title">Mixed Tropical Fruit
                                        Salad with Superfood Boosts </div>
                                    <div class="recipe_desp d_flex algn_ctr">
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/Timer.png"
                                                    alt="Timer_image"></div>
                                            <div class="para">30&nbsp;Minutes</div>
                                        </div>
                                        <div class="box d_flex algn_ctr">
                                            <div class="img"><img
                                                    src="../images/ForkKnife.png"
                                                    alt="ForkKnife"></div>
                                            <div class="para">Chicken</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="top_mg"></section>
                    <section class="inbox_container">
                        <div class="inbox_title">
                            Deliciousness to your inbox
                        </div>
                        <div class="inbox_desp">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </div>
                        <div class="inbox_rec">
                            <input type="text" class="input">
                            <button class="sub_btn">Subscribe</button>
                        </div>
                    </section>
                    <section class="top_mg"></section>
                </main>
            </section>
            <footer class="footer">
                <p>Copyright © 2024 My Webpage. All Rights Reserved.</p>
                <p>Contact us: <a href="#">rapthadusrinath@gmail.com</a></p>
                <p>Follow us on:
                    <a href="#">Facebook</a>,
                    <a href="#">Twitter</a>,
                    <a href="#">Instagram</a>
                </p>
            </footer>
        </section>
    </body>
</html>